.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }


}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.suggestion{
  padding: 0.5rem;
  border-bottom: 0.1px solid gray;
  border-left: 0.1px solid gray;
  border-right: 0.1px solid rgb(235, 229, 229);


}

.suggestion:hover{
  background-color: rgb(190, 184, 184);
}

form  {
  margin: 60px 0 0 0 !important;
}

.bar-inner-left{
  background: rgb(99, 159, 214);
}
.bar-inner-right{
  background: rgb(99, 159, 214);
}
/* 
.ui-slider .ui-btn-inner {
  padding: 4px 0 0 0 !important;
} */

.ui-slider-popup {
  position: absolute !important;
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: 36px;
  padding-top: 14px;
  z-index: 100;
  opacity: 0.8;
}

@media only screen and (max-width: 600px) {
 .cardTitle{
font-size: 2rem !important;
margin:0 !important
 }
 .cardText{
  font-size: 1rem !important;
  margin:0 !important
 }
 .cardBtn{
   margin:2rem auto auto 0 !important;
   height: auto !important; 
   width: auto !important;
   font-size:1rem !important;
 }
 .categoryProducts{
 display: block !important;
}
.categoryBtn{
margin-top:1rem !important;
}
.productImage{
  height: 15rem !important;
  width: 15rem !important;
}
.AddedToCart{

}
.RemoveFromCart{
  margin-left: 0rem !important;
  margin-top: 0.5rem !important;
}
.Loading{
  margin:3rem -18rem !important;
}

.SecondLoading{
  margin: 6rem 7rem !important;
}
  
  
.ContactImage{

  height: 15rem !important;
  width: 19rem !important;
}
.logoOfContact{
  display: flex;
  margin-left: -12rem !important;
  margin-right: 0rem !important;
  margin-top: 5rem !important;
}

.formOfContact{
  display: contents;
}

.AboutImage{
  height: 15rem !important;
  width: 20rem !important;
}
.contactPara{
  margin-top: 1rem !important;
}

.ContactHeader{
  margin: 0 auto !important;
  padding-bottom: 2rem !important;
}
}